.gueng_indice_1{
	/*font-size:120%;*/
	}
.gueng_indice_2{
	/*font-size:100%;*/
	margin-left:calc(1* 40px );
	}
.gueng_indice_3{
	/*font-size:80%;*/
	margin-left:calc(2 * 40px );
	}
.gueng_indice_4{
	/*font-size:80%;*/
	margin-left:calc(3 * 40px );
	}
.gueng_indice_5{
	/*font-size:80%;*/
	margin-left:calc(4 * 40px );
	}
